{
  "printWidth": 120,
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
